# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.pdb
*.props
*.targets
*.cache
bin/Debug/net5.0/HelloWorld.deps.json
bin/Debug/net5.0/HelloWorld.runtimeconfig.dev.json
bin/Debug/net5.0/HelloWorld.runtimeconfig.json
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/HelloWorld.AssemblyInfo.cs
obj/Debug/net5.0/HelloWorld.csproj.FileListAbsolute.txt
obj/Debug/net5.0/HelloWorld.GeneratedMSBuildEditorConfig.editorconfig
obj/HelloWorld.csproj.nuget.dgspec.json
obj/project.assets.json
